.header-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  background-color: #424242;
}

.header-info-item {
  display: flex;
  padding: 0px 6px;
  color: lightgrey;
  align-items: center;
}

mat-card {
  margin: 2px 0px;
}

mat-card-header {
    color: lightgrey;
}

mat-card-content {
  display: flex;
  justify-content: flex-start;
  color: lightgrey;
}

div.chartWrapper {
  position: relative;
  overflow: auto;
  width: 100%;
}

div.chartContainer {
  position: relative;
  vertical-align: central;
}

div.overviewChartContainer {
  display: flex;
  justify-content: center;
  max-width: 40px;
  max-height: 40px;
}

div.overviewPart {
  margin: 6px 8px;
}

.overviewPart div {
  text-align: center;
  vertical-align: central;
}

canvas {
  touch-action: pan-y !important;
}
