<ng-container *ngIf="currentHabit">
  <!--Some basic info-->
  <mat-card class="header-info">
    <div class="header-info-item" *ngIf="currentHabit.targetValue">
      <mat-icon>arrow_circle_up</mat-icon>
      {{currentHabit.targetValue}}
    </div>
    <div class="header-info-item">
      <mat-icon>calendar_month</mat-icon>
      {{this.getFreqMsg(currentHabit.frequencyDensity, currentHabit.frequencyNumber)}}
    </div>
  </mat-card>
  <!--Overview-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Overview</mat-card-header>
    <mat-card-content>
        <div class="overviewChartContainer">
          <canvas id="OverviewChart">{{overviewChart}}</canvas>
        </div>
      <div class="overviewPart">
        <div [ngStyle]="{'color': this.habitColor}">{{this.overview.get('Score')}}</div>
        <div>Score</div>
      </div>
      <div class="overviewPart">
        <div [ngStyle]="{'color': this.habitColor}">{{this.overview.get('Month')}}</div>
        <div>Month</div>
      </div>
      <div class="overviewPart">
        <div [ngStyle]="{'color': this.habitColor}">{{this.overview.get('Year')}}</div>
        <div>Year</div>
      </div>
      <div class="overviewPart">
        <div [ngStyle]="{'color': this.habitColor}">{{this.overview.get('Total')}}</div>
        <div>Total</div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--Score-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Score</mat-card-header>
    <mat-card-content>
      <div class="chartWrapper">
        <div class="chartContainer">
          <canvas id="ScoresChart">{{scoresChart}}</canvas>
        </div>
      </div>      
    </mat-card-content>
  </mat-card>
  <!--History-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Week history</mat-card-header>
    <mat-card-content>
      <div class="chartWrapper">
        <div class="chartContainer">
          <canvas id="HistoryChart">{{historyChart}}</canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--Calendar-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Calendar</mat-card-header>
    <mat-card-content>
      ...
    </mat-card-content>
  </mat-card>
  <!--Best streaks-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Best streaks</mat-card-header>
    <mat-card-content>
      ...
    </mat-card-content>
  </mat-card>
  <!--Frequency-->
  <mat-card>
    <mat-card-header [ngStyle]="{'color': this.habitColor}">Frequency</mat-card-header>
    <mat-card-content>
      ...
    </mat-card-content>
  </mat-card>
  <div style="text-align: center; color: grey">
    Detailed statistics implementation in progress
  </div>
</ng-container>

