<div mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="0">
      <div style="font-size: 18px; margin-bottom: 6px">Yes or No</div>
      e.g. Did you wake up early today? Did you exercise? Did you play chess?
    </button>
    <br />
    <button mat-stroked-button [mat-dialog-close]="1">
      <div style="font-size: 18px; margin-bottom: 6px">Measurable</div>
      e.g. How many miles did you run today? How many pages did you read?
    </button>
  </div>
</div>
