table.mat-table {
  width: 100%;
}

.table-header {
  height: 40px !important;
}

th {
  white-space: pre-line !important;
  text-align: center !important;
  font-size: 10px;
  padding: 0px 0px;
  color: lightgrey;
  line-height: 15px;
}

td {
  padding: 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.mat-column-name {
  min-width: 100px;
  max-width: 116px;
  padding: 0px 16px;
}

.rep {
  transform: scale(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}

.rep-measurable {
  transform: scale(1.4);
}
