<div mat-dialog-content style="padding: 10px 15px;">
  <mat-radio-group mat-dialog-actions class="frequency-dialog-container">

    <mat-radio-button>Every day</mat-radio-button>

    <mat-radio-button>
      Every &nbsp;<input class="frequency-input" type="number" />&nbsp; days
    </mat-radio-button>

    <mat-radio-button>
      <input class="frequency-input" type="number" />&nbsp; times per week
    </mat-radio-button>

    <mat-radio-button>
      <input class="frequency-input" type="number" />&nbsp; times per month
    </mat-radio-button>
  </mat-radio-group>
</div>
