.frequency-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-radio-button {
}

.frequency-input {
  height: 25px;
  width: 30px;
  background-color: #212121;
  border-radius: 3px;
  border: 0px;
  color: white;
  text-align: center;
}


// hide step buttons on Firefox
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

// hide step buttons on Chrome/Safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
