.habit-create {
  margin: 6px 16px;
}

.form-name {
  width: 65%;
}

.form-color {
  width: 30%;
  float: right;
}

.form-reminder-time {
  padding: 0px;
}

.form-reminder-days {
  padding: 0px;
}

button {
  float: right;
}

mat-form-field {
  width: 100%;
}
