.habit-create {
  margin: 16px 16px;
}

.form-name {
  width: 65%;
}

.form-color {
  width: 30%;
  float: right;
}

.form-reminder-time {
  padding: 0px;
}

.form-reminder-days {
  padding: 0px;
}

button {
  float: right;
}

mat-form-field {
  width: 100%;
}


// hide step buttons on Firefox
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

// hide step buttons on Chrome/Safari
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
