.login {
  margin: 16px 16px;
}

mat-form-field {
  width: 100%;
}

.mat-icon {
  color: #b2b2b2;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.push {
  margin-left: auto;
}
